.Menu {
}

.pages-style {
    background-image: linear-gradient(to right, #54b3d6, #54b3d6 50%, #fff 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out; 
    margin-right: 1vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.pages-style.active {
    background-position: 0; 
}

.pages-style:before {
  content: "";
  background: #54b3d6;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.pages-style:hover {
  background-position: 0;
}

.pages-style:hover::before {
  width: 100%;
}

.add-style{
    color: white;
}

.add-style:hover{
    color: #54b3d6;
}
