.Register{
    width:400px;
    margin:50px auto;
    padding: 10px;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 5px 7px 7px;
}

.Register .HeaderBox{
    display: flex;
    justify-content: center;
}

.Register .MyInvalidColor {
    color: red;
    font-size: 0.8rem;
    text-align: left;
}

.Register .BtnHover:hover{
    text-decoration: underline;
}

